<div class="container">
  <mat-list>
    <mat-list-item>Prénom: {{ student.firstName }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Nom: {{ student.lastName }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Matricule: {{ student.mat }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Sexe: {{ student.gender }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Email: {{ student.email }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Téléphone: {{ student.phone }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Filère: {{ student.course.courseName }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Niveau: {{ student.level.levelName }}</mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>

  <button mat-raised-button (click)="openStudentEditPage()">Modifier</button>
  <button mat-raised-button (click)="deleteAction()">Supprimer</button>
  <button mat-button color="primary" (click)="showStudents()">
    Retour aux étudiants
  </button>
</div>
