<div class="container">
  <p class="text-center fs-5">Les Informations d'Etudiant</p>
  <mat-list>
    <mat-list-item
      >Prénom: &nbsp;&nbsp;&nbsp; {{ student.firstName }}</mat-list-item
    >
    <mat-divider></mat-divider>
    <mat-list-item>Nom: &nbsp;&nbsp;&nbsp;{{ student.lastName }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item
      >Matricule:&nbsp;&nbsp;&nbsp; {{ student.mat }}</mat-list-item
    >
    <mat-divider></mat-divider>
    <mat-list-item>Sexe: &nbsp;&nbsp;&nbsp;{{ student.gender }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Email: &nbsp;&nbsp;&nbsp;{{ student.email }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item
      >Téléphone:&nbsp;&nbsp;&nbsp; {{ student.phone }}</mat-list-item
    >
    <mat-divider></mat-divider>
    <mat-list-item
      >Filère: &nbsp;&nbsp;&nbsp;{{ student.course.courseName }}</mat-list-item
    >
    <mat-divider></mat-divider>
    <mat-list-item
      >Niveau: &nbsp;&nbsp;&nbsp;{{ student.level.levelName }}</mat-list-item
    >
  </mat-list>
  <mat-divider></mat-divider>

  <button mat-raised-button (click)="openStudentEditPage()">Modifier</button>
  <button mat-raised-button (click)="deleteAction()">Supprimer</button>
  <button mat-button color="primary" (click)="showStudents()">
    Retour aux étudiants
  </button>
</div>
