<div class="container">
  <h2>Replir le formulaire pour ajouter un matière</h2>
  <form (ngSubmit)="onSubmit()" #subjectForm="ngForm">
    <div class="form-group">
      <label for="subjectName">Nom du matière</label>
      <input
        type="text"
        class="form-control"
        id="subjectName"
        required
        [(ngModel)]="subject.subjectName"
        name="name"
      />
    </div>
    <button
      mat-raised-button
      type="submit"
      class="btn btn-success"
      [disabled]="!subjectForm.form.valid"
    >
      Ajouter
    </button>
  </form>
</div>
