<mat-toolbar color="primary">
  <button
    (click)="emitToggleEvent()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span
    >Sup &nbsp;<img src="../../../assets/img/sup_logo.png" /> &nbsp; App</span
  >
  <div class="entity-btns">
    <button color="primary" mat-raised-button>
      <a routerLink="/professors">Professeurs</a>
    </button>
    <button color="primary" mat-raised-button>
      <a routerLink="/students">Etudiants</a>
    </button>
    <button color="primary" mat-raised-button>
      <a routerLink="/subjects">Matières</a>
    </button>
    <button color="primary" mat-raised-button>
      <a routerLink="/courses">Filères</a>
    </button>

    <button color="primary" mat-raised-button>
      <a routerLink="/levels">Niveaus</a>
    </button>
  </div>
  <span class="example-spacer"></span>
  <button
    color="primary"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
