.example-spacer {
    flex: 1 1 auto;
}

.entity-btns{
    margin-left: 120px;
   button{
    margin-left: 10px;
    margin-right: 10px; 
    a{
        text-decoration: none;
        color: white;
    }
   }
}