<h2 mat-dialog-title align="center">Vérification d'Authorisation</h2>
<div>
  <mat-form-field
    mat-dialog-content
    class="example-full-width"
    appearance="fill"
  >
    <mat-label>Mot de passe</mat-label>
    <input
      type="password"
      matInput
      [(ngModel)]="password"
      #message
      maxlength="10"
      placeholder="password"
    />
    <mat-hint align="start"
      ><strong>Caché bien votre info personnelle</strong>
    </mat-hint>
    <mat-hint align="end">{{ message.value.length }} / 10</mat-hint>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close color="warn" class="btn-cancel">
      Annuler
    </button>
    <button
      mat-raised-button
      color="primary"
      cdkFocusInitial
      (click)="onVerify()"
    >
      Vérifier
    </button>
  </div>
</div>
