<div class="container">
  <h2>Modifier le nom du filière ici</h2>
  <form (ngSubmit)="onSubmit()" #courseForm="ngForm">
    <div class="form-group">
      <label for="courseName">Course Name</label>
      <input
        type="text"
        class="form-control"
        id="courseName"
        required
        [(ngModel)]="course.courseName"
        name="name"
      />
    </div>
    <button
      mat-raised-button
      type="submit"
      class="btn btn-success"
      [disabled]="!courseForm.form.valid"
    >
      Modifier
    </button>
    <button mat-raised-button (click)="cancelEditing()" class="btn btn-success">
      Annuler
    </button>
  </form>
</div>
