<div class="container-sm col-8">
  <h2 class="text-center">
    Bienvénu
    <strong>{{ professor.firstName }}&nbsp;{{ professor.lastName }}</strong>
  </h2>
  <p class="text-center fs-6">
    Voudriez-vous remplir le formulaire pour continuer
  </p>
  <form #takeAttendanceForm="ngForm">
    <div class="row mb-3">
      <label for="course" class="col-sm-2 col-form-label">Filère</label>
      <div class="col-sm-10">
        <select
          name="course"
          class="form-select form-select-sm"
          id="course"
          required
          [(ngModel)]="selectedCourseID"
        >
          <option [value]="course.id" *ngFor="let course of courses">
            {{ course.courseName }}
          </option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <label for="subject" class="col-sm-2 col-form-label">Matière</label>
      <div class="col-sm-10">
        <select
          class="form-select form-select-sm"
          name="subject"
          id="subject"
          required
          [(ngModel)]="selectedSubjectId"
        >
          <option
            [value]="subject.id"
            *ngFor="let subject of professor.subjectsTaught"
          >
            {{ subject.subjectName }}
          </option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <label for="level" class="col-sm-2 col-form-label">Année</label>
      <div class="col-sm-10">
        <select
          name="level"
          id="level"
          class="form-select form-select-sm"
          required
          [(ngModel)]="selectedLevelID"
        >
          <option [value]="level.id" *ngFor="let level of levels">
            {{ level.levelName }}
          </option>
        </select>
      </div>
    </div>
    <button mat-raised-button (click)="goToAttendanceSheet()">
      Récuperer une feuille de présence
    </button>
  </form>
</div>
