<div class="container">
  <h2>Opérations de présences</h2>
  <div class="operations">
    <p><a (click)="openAuthDialog()">Prendre les présences</a></p>
    <p>
      <a routerLink="/attendance/weekly_sheet/create"
        >Créer une list d'absence</a
      >
    </p>
    <p>
      <a routerLink="/attendance/absence_vierge/create">Créer Absence Vierge</a>
    </p>
    <p>
      <a
        (click)="toggleDisplayedComponent()"
        class="ab-vierge"
        *ngIf="toggleDisplay"
        >Absence Vierge</a
      >
      <a
        (click)="toggleDisplayedComponent()"
        class="list-absence"
        *ngIf="!toggleDisplay"
        >List d'absence</a
      >
    </p>
  </div>

  <app-weekly-attendance-display
    *ngIf="toggleDisplay"
    style="width: 65%"
  ></app-weekly-attendance-display>
  <app-general-attendance-display
    *ngIf="!toggleDisplay"
    style="width: 65%"
  ></app-general-attendance-display>
</div>
