<app-header (toggle)="toggleSideNav()"></app-header>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-drawer" mode="side" opened>
    <app-sidenav-content> </app-sidenav-content>
  </mat-drawer>
  <mat-drawer-content class="example-content">
    <!-- <app-school-subjects></app-school-subjects> -->
    <!-- <app-school-levels></app-school-levels> -->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>
