table,
td,
th {
    
    border: 1px solid black;
    border-collapse: collapse;
}


th,td{
    text-align: center;
        padding: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
}



select {
    width: 100%;
    height: 100%;
    border: none;
}

.table-wrapper{
    width: 1000px;
    height: 355px;
    overflow-x: scroll;
    margin: 0 auto;
}
th{
    position: sticky;
    top: 0;
    background-color: antiquewhite;
    width: 100px;
}
td:nth-child(1),
th:nth-child(1){
    position: sticky;
    left:0;
    width: 150px;
    min-width: 150px;
    background-color: aqua;
}
td:nth-child(2),
th:nth-child(2){
    position: sticky;
    left:149px;
    width: 150px;
    min-width: 150px;
    background-color: aqua;
}
td:nth-child(3),
th:nth-child(3){
    position: sticky;
    left:299px;
    width: 150px;
    min-width: 150px;
    background-color: aqua;
}


th:nth-child(1),
th:nth-child(2),
th:nth-child(3){
    z-index: 2;
    background-color: cadetblue;
}

th{
    border-top: 1px solid white;
    width: 200px;
    min-width: 150px;
}

th:nth-child(1),
td:nth-child(1){
    border-left: 1px solid white;
}

td:nth-child(2),
td:nth-child(3){
    border-left:1px solid white;
}

td:nth-child(1),
td:nth-child(2){
    border-right: 1px solid white;
}