<div class="container py-2">
  <p class="text-center fs-6">{{ month.signature }}/{{ week.signature }}</p>
  <p class="fs-5">
    <span style="font-weight: bold">{{ level.cycle }}</span>
  </p>
  <p class="fs-5">
    Niveau :
    <span style="font-weight: bold"> {{ level.levelName }}</span>
  </p>
  <p class="fs-5">
    Filière:
    <span style="font-weight: bold">{{ course.courseName }}</span>
  </p>
  <p class="fs-5">
    Promotion:
    <span style="font-weight: bold">2021/2022</span>
  </p>
</div>
<div class="container">
  <table>
    <thead>
      <th>Matricule</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th *ngFor="let subject of weeklyAttendanceSheet.subjects">
        {{ subject.subjectName }}
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let row of weeklyAttendanceSheet.rows">
        <td>{{ row.student.mat }}</td>
        <td>{{ row.student.lastName }}</td>
        <td>{{ row.student.firstName }}</td>
        <td *ngFor="let state of row.states">
          <div *ngIf="state === 0">A</div>
          <div *ngIf="state === 1">P</div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-grid gap-2 mt-3">
    <button
      class="btn btn-outline-primary"
      (click)="recordWeeklyAttendance()"
      type="button"
    >
      Enregistrée
    </button>
  </div>
</div>
