<div class="container">
  <mat-list>
    <mat-list-item>Prénom: {{ professor.firstName }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Nom: {{ professor.lastName }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Email: {{ professor.email }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Téléphone: {{ professor.phone }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <h3>Matières Enseignées</h3>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let subject of professor.subjectsTaught">
      {{ subject.subjectName }}
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>

  <button mat-raised-button (click)="openProfessorEditPage()">?odifier</button>
  <button mat-raised-button (click)="deleteAction()">Supprimer</button>
  <button mat-button color="primary" (click)="openProfessorsPage()">
    Retour aux matières
  </button>
</div>
