<div class="container">
  <h2 class="text-center">List de présence crées</h2>
  <cdk-accordion class="example-accordion">
    <cdk-accordion-item
      *ngFor="
        let level of createdWeeklyAttendances.levels;
        let levelIndex = index
      "
      #levelItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + levelIndex"
      [attr.aria-expanded]="levelItem.expanded"
      [attr.aria-controls]="'accordion-body-' + levelIndex"
    >
      <div class="example-accordion-item-header" (click)="levelItem.toggle()">
        {{ level.level.levelName }}
        <span class="example-accordion-item-description">
          Cliquez pour {{ levelItem.expanded ? "fermer" : "ouvrir" }}
        </span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="levelItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + levelIndex"
        [attr.aria-labelledby]="'accordion-header-' + levelIndex"
      >
        <cdk-accordion style="width: 80%; background-color: azure; z-index: 3">
          <cdk-accordion-item
            *ngFor="let course of level.courses; let courseIndex = index"
            #courseItem="cdkAccordionItem"
            class="example-accordion-item"
            role="button"
            tabindex="0"
            [attr.id]="'accordion-header-' + courseIndex"
            [attr.aria-expanded]="courseItem.expanded"
            [attr.aria-controls]="'accordion-body-' + courseIndex"
          >
            <div
              class="example-accordion-item-header"
              (click)="courseItem.toggle()"
            >
              {{ course.course.courseName }}
              <span class="example-accordion-item-description">
                Cliquez pour {{ courseItem.expanded ? "fermer" : "ouvrir" }}
              </span>
            </div>
            <div
              class="example-accordion-item-body"
              role="region"
              [style.display]="courseItem.expanded ? '' : 'none'"
              [attr.id]="'accordion-body-' + courseIndex"
              [attr.aria-labelledby]="'accordion-header-' + courseIndex"
            >
              <cdk-accordion
                style="width: 70%; background-color: bisque; z-index: 5"
              >
                <cdk-accordion-item
                  *ngFor="let month of course.months; let monthIndex = index"
                  #monthItem="cdkAccordionItem"
                  class="example-accordion-item"
                  role="button"
                  tabindex="0"
                  [attr.id]="'accordion-header-' + monthIndex"
                  [attr.aria-expanded]="monthItem.expanded"
                  [attr.aria-controls]="'accordion-body-' + monthIndex"
                >
                  <div
                    class="example-accordion-item-header"
                    (click)="monthItem.toggle()"
                  >
                    {{ month.month.signature }}
                    <span class="example-accordion-item-description">
                      Cliquez pour
                      {{ monthItem.expanded ? "fermer" : "ouvrir" }}
                    </span>
                  </div>
                  <div
                    class="example-accordion-item-body"
                    role="region"
                    [style.display]="monthItem.expanded ? '' : 'none'"
                    [attr.id]="'accordion-body-' + monthIndex"
                    [attr.aria-labelledby]="'accordion-header-' + monthIndex"
                  >
                    <p *ngFor="let week of month.weeks">
                      <a
                        (click)="
                          routeToWeeklyAttendanceView(
                            course.course,
                            level.level,
                            month.month,
                            week
                          )
                        "
                      >
                        {{ week.signature }}
                      </a>
                    </p>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>
            </div>
          </cdk-accordion-item>
        </cdk-accordion>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</div>
