<div class="container col-12">
  <div class="row mb-2 p-2">
    <div class="col-4 fs-6">Heure: 12:00</div>
    <div class="col-4 fs-6">
      Signé par: {{ professor.firstName }}&nbsp;{{ professor.lastName }}
    </div>
    <div class="col-4 fs-6">Date: 12/12/12</div>
  </div>
</div>
<div class="container col-8">
  <div class="row mb-2">Cycle : {{ level.cycle }}</div>
  <div class="row mb-2">Niveau : {{ level.levelName }}</div>
  <div class="row mb-2">
    Filère: {{ course.courseName }}
    <div class="row mb-2">Promotion: 2021/2022</div>
  </div>

  <div class="container">
    <table align="center">
      <thead>
        <tr>
          <th>Matricule</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Etat</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students; let index = index">
          <td class="mat">20 {{ student.mat }}</td>
          <td>{{ student.lastName }}</td>
          <td>{{ student.firstName }}</td>
          <td>
            <select
              name="presence"
              id="presence"
              [(ngModel)]="selectedState[index]"
              (ngModelChange)="onSelect(index, student.id)"
            >
              <option [value]="absent"></option>
              <option [value]="student.id">Présent</option>
              <option [value]="absent">Absent</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="actions">
    <button mat-raised-button color="primary" (click)="recordAttendanceSheet()">
      Soumettre
    </button>
    <button mat-raised-button color="warn" disabled>Annuler</button>
  </div>
</div>
